@using Tech_Forum.Models;
@model Tech_Forum.Models.Post_Table

@{

    ViewBag.Title = "Browse Blogs";
    var browseblog = (IEnumerable<Post_Table>)ViewData["browseblog"];
    if (ViewBag.TechnologyList == null)
    {
        ViewBag.TechnologyList = new SelectList(" ");
    }
}

<div class="jumbotron text-center">
    <h3>Browse Blogs</h3>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @if (ViewBag.DomainList != null)
            {

                @Html.LabelFor(model => model.domain, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.domain, ViewBag.DomainList as SelectList, "-- Select Domain --", new { @class = "form-control", @id = "did" })
                    @Html.ValidationMessageFor(model => model.domain, "", new { @class = "text-danger" })
                </div>

            }

            @Html.LabelFor(model => model.technology, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.technology, ViewBag.TechnologyList as SelectList, "-- Select Technology --", new { @class = "form-control", @id = "tid" })
                @Html.ValidationMessageFor(model => model.technology, "", new { @class = "text-danger" })
            </div>


            <div class="col-md-2">
                <input type="submit" value="List Blogs" class="btn btn-default" />
            </div>
        </div>
    </div>

}
<hr />
@if (browseblog != null)
{
    <h4 style="font-weight:bold">Searched Blogs</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Title")
            </th>
            <th>
                @Html.DisplayName("Domain")
            </th>
            <th>
                @Html.DisplayName("Technology")
            </th>
            <th>
                @Html.DisplayName("Author")
            </th>
            <th></th>
        </tr>

        @foreach (var item in browseblog)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.title, "../Subscriber/Details", new { id = item.postid })
                </td>
                <td>
                    @Html.DisplayName(item.domain)
                </td>
                <td>
                    <p>@item.technology</p>
                </td>
                <td>
                    @Html.DisplayName(item.userid)
                </td>
            </tr>
        }

    </table>
}
@if (ViewBag.Message != null)
{
    <div class="text-center alert alert-danger">
        <strong>Sorry! </strong>@ViewBag.Message
    </div>
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $("#did").click(function () {

            $.get("/Post/GetTechList", { did: $("#did").val() }, function (data) {

                $("#tid").empty();
                $("#tid").append("<option selected disabled=true>-- Select Technology --</option>")
                $.each(data, function (index, row) {

                    $("#tid").append("<option value='" + row.tid + "'>" + row.technology + "</option>")

                })
            })
        })

    });

</script>

