@using Tech_Forum.Controllers
@using Tech_Forum.Models
@model TestUser
@{
    ViewBag.Title = "GenerateUserReport";
}
<style>
    body {
        background-image: url(../../Images/blue.jpg);
        background-repeat: no-repeat;
        background-size: 8000px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6 jumbotron">
            <br />
           
            <form action="GenerateUserReport">
                Username:<input type="text" name="inp" style=" width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;" />
                <br />



                <input type="submit" name="answer" value="Search" class="btn btn-default btn-primary">
                <br />

              
                @if (Model != null)
                {
                    if (Model.Name != null)
                    {
                    <h3>@Model.Name</h3>
                    <br />
                    <h4>Total Number of Articles published by User : @Model.countarticle</h4>
                    <br />
                    <p>_______________________________________</p>
                    <br />
                    <h4>Average Rating of The User : @Model.averagerating</h4>
                    <br />
                    <p>_______________________________________</p>
                    <br />
                    <h4>Total number of tests : @Model.counttest</h4>
                    <br />
                    <p>_______________________________________</p>
                    <br />
                    <h4>Total number of blogs : @Model.countarticle</h4>
                    <br />
                    <p>_______________________________________</p>
                    <br />
                    <h4>Total number of tests passed : @Model.pass</h4>
                    <br />
                    <p>_______________________________________</p>
                    <br />
                    <h4>Total number of tests failed : @Model.fail</h4>
                    <br />
                    <p>_______________________________________</p>
                    }
                    else
                    {
                        <h3>No results found</h3>
                    }
                }

            </form>
        </div>
        <div class="col-sm-3">
           
        </div>
    </div>
</div>
