@model Tech_Forum.Models.Post_Table

@{
    ViewBag.Title = "BrowseArticle";
}

<h2 style="text-align:center">Categories</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br><br><br>
<div class="categories" style="text-align:center">
    @Html.CheckBox("domain", false)  ASP.NET 
    @Html.CheckBox("domain", false)  JAVA 
    @Html.CheckBox("domain", false)  MVC 
    @Html.CheckBox("domain", false)  WCF 
</div>
   <br><br><br>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" style="float:right">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="List Articles" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<br><br>
<div>
    <h3>Searched Articles List</h3>
    <br>
    <ul>
        <li>Article 1</li>
        <br>
        <br>
        <li>Article 2</li>
        <br>
        <br>
        <li>Article 3</li>
        <br>
        <br>
        <li>Article 4</li>
        <br>
        <br>
    </ul>
</div>