@model Tech_Forum.Models.Article

@{
    ViewBag.Title = "Create";
    if (ViewBag.TechnologyList == null)
    {
        ViewBag.TechnologyList = new SelectList(" ");
    }
}

<h2>Submit an Article</h2>
@if (ViewBag.ErrorMessage != null)
{
<div class="alert alert-danger">
    <strong>Error! </strong>@ViewBag.ErrorMessage
</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.DomainList != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Post.domain, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Post.domain, ViewBag.DomainList as SelectList, "-- Select Domain --", new { @class = "form-control", @id = "did" })
                    @Html.ValidationMessageFor(model => model.Post.domain, "", new { @class = "text-danger" })
                </div>
            </div>
        }


        <div class="form-group">
            @Html.LabelFor(model => model.Post.technology, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Post.technology, ViewBag.TechnologyList as SelectList, "-- Select Technology --", new { @class = "form-control", @id = "tid" })
                @Html.ValidationMessageFor(model => model.Post.technology, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Post.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Post.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Post.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Post.tags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Post.tags, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Post.tags, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Post.content_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Post.content_, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Post.content_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Post Article" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $("#did").click(function () {

            $.get("/Post/GetTechList", { did: $("#did").val() }, function (data) {

                $("#tid").empty();
                $("#tid").append("<option selected disabled=true>-- Select Technology --</option>")
                $.each(data, function (index, row) {

                    $("#tid").append("<option value='" + row.tid + "'>" + row.technology + "</option>")

                })
            })
        })

    });

</script>


