@using Tech_Forum.Models
@{
    var article = (Post_Table)ViewData["Article"];

    var blog = (Post_Table)ViewData["Blog"];

    var searchresult = (IEnumerable<Post_Table>)ViewData["searchlist"];
}

<style>
    .rate {
        height: 35px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 30px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }
</style>


@if (article != null)
{
    <br />
    <div class="jumbotron text-center">
        <h3>@article.title</h3>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                By : <strong>@article.userid</strong>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" onclick="starfunc(this.id);" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" onclick="starfunc(this.id);" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" onclick="starfunc(this.id);" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" onclick="starfunc(this.id);" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" onclick="starfunc(this.id);" />
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-4">
                <h3 style="font-weight:bold">Content</h3>
            </div>
        </div>
        <br />
        <p style="text-align:justify">@article.content_</p>
    </div>

}

@if (blog != null)
{
    <br />
    <div class="jumbotron text-center">
        <h3>@blog.title</h3>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                By : <strong>@blog.userid</strong>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" onclick="starfunc(this.id);" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" onclick="starfunc(this.id);" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" onclick="starfunc(this.id);" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" onclick="starfunc(this.id);" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" onclick="starfunc(this.id);" />
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-4">
                <h3 style="font-weight:bold">Content</h3>
            </div>
        </div>
        <br />
        <p style="text-align:justify">@blog.content_</p>
    </div>

}

@if (searchresult != null)
{
    <div class="jumbotron container-fluid text-center">
        <h3>Search Results</h3>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Title")
            </th>
            <th>
                @Html.DisplayName("Domain")
            </th>
            <th>
                @Html.DisplayName("Technology")
            </th>
            <th>
                @Html.DisplayName("Author")
            </th>
            <th></th>
        </tr>

        @foreach (var item in searchresult)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.title, "../Subscriber/Details", new { id = item.postid })
                </td>
                <td>
                    @Html.DisplayName(item.domain)
                </td>
                <td>
                    <p>@item.technology</p>
                </td>
                <td>
                    @Html.DisplayName(item.userid)
                </td>
            </tr>
        }

    </table>
}
@if (ViewBag.SearchMessage != null)
{
    <div class="text-center alert alert-danger">
        <strong>Sorry! </strong>@ViewBag.SearchMessage
    </div>

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function starfunc(id) {
        var value = $("#"+id).val();
        location.href = '@Url.Action("CalculateStar","Post")?rate=' + value;
    }
</script>